<p> <%= link_to 'Português', root_path(locale: 'pt-BR')%> </p>
<p> <%= link_to 'English', '/?locale=en'%> </p>
<h1>Seja Bem-Vindo</h1>
<p> Data: <%= I18n.l(Date.today) %> </p>
<p>o idioma usado nessa aplicacao é: <%=t('actual_locale')%> </p>
<%= t('abc')%>
<%= render "menu"%>
