<p id="notice"><%= notice %></p>

<p>
  <strong> <%=t('descricao')%> </strong>
  <%= @mining_type.description %>
</p>

<p>
  <strong><%=t('acronym')%></strong>
  <%= @mining_type.acronym %>
</p>

<%= link_to t('editar'), edit_mining_type_path(@mining_type) %> |
<%= link_to t('voltar'), mining_types_path %>
